{{#each bonuses as |bonus|}}
<div class="bonus" data-id="{{bonus.id}}">
  <div class="header">
    {{#if bonus.enabled}}
    <div class="label">{{bonus.name}}</div>
    {{else}}
    <div class="label disabled">{{bonus.name}}</div>
    {{/if}}
    <div class="details">
      <div class="functions">
        {{#unless (or bonus.auraEnabled (not bonus.isItem))}}
        <a data-type="itemOnly" data-tooltip="BABONUS.TOOLTIPS.SELF_ONLY">
          {{#if bonus.itemOnly}}<i class="fa-solid fa-chess-pawn"></i>
          {{else}}<i class="fa-regular fa-chess-pawn"></i>
          {{/if}}
        </a>
        {{/unless}}
        <a data-type="toggle" data-tooltip="BABONUS.TOOLTIPS.TOGGLE_THIS">
          {{#if bonus.enabled}} <i class="fa-solid fa-toggle-on"></i>
          {{else}} <i class="fa-solid fa-toggle-off"></i>
          {{/if}}
        </a>
        <a data-type="copy" data-tooltip="BABONUS.TOOLTIPS.COPY_THIS">
          <i class="fa-solid fa-copy"></i>
        </a>
        <a data-type="edit" data-tooltip="BABONUS.TOOLTIPS.EDIT_THIS">
          <i class="fa-solid fa-gear"></i>
        </a>
        <a data-type="delete" data-tooltip="BABONUS.TOOLTIPS.DELETE_THIS">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
      <div class="identifier">
        {{bonus.id}}
      </div>
    </div>
  </div>
  <div class="description">
    <div class="content">
      {{{bonus.description}}}
    </div>
  </div>
  <hr class="divider">
</div>
{{/each}}
