{{#each bonuses as |bonus|}}
<div class="bonus" data-id="{{bonus.id}}">
  <div class="header">
    {{#if bonus.enabled}}
    <div class="label" data-action="bonus-label">{{bonus.name}}</div>
    {{else}}
    <div class="label disabled" data-action="bonus-label">{{bonus.name}}</div>
    {{/if}}
    <div class="details">
      <div class="functions">
        <a data-type="toggle" data-tooltip="BABONUS.ConfigurationToggleTooltip">
          {{#if bonus.enabled}} <i class="fa-solid fa-toggle-on"></i>
          {{else}} <i class="fa-solid fa-toggle-off"></i>
          {{/if}}
        </a>
        <a data-type="copy" data-tooltip="BABONUS.ConfigurationCopyTooltip">
          <i class="fa-solid fa-copy"></i>
        </a>
        <a data-type="edit" data-tooltip="BABONUS.ConfigurationEditTooltip">
          <i class="fa-solid fa-gear"></i>
        </a>
        <a data-type="delete" data-tooltip="BABONUS.ConfigurationDeleteTooltip">
          <i class="fa-solid fa-trash"></i>
        </a>
        <a data-type="aura" data-tooltip="BABONUS.ConfigurationAuraTooltip">
          {{#if (or bonus.hasAura bonus.isTemplateAura)}} <i class="fa-solid fa-sun"></i>
          {{else}} <i class="fa-regular fa-sun"></i>
          {{/if}}
        </a>
        {{#if bonus.canExclude}}
        <a data-type="itemOnly" data-tooltip="BABONUS.ConfigurationExclusiveTooltip">
          {{#if bonus.isExclusive}}<i class="fa-solid fa-chess-pawn"></i>
          {{else}}<i class="fa-regular fa-chess-pawn"></i>
          {{/if}}
        </a>
        {{/if}}
        {{#if bonus.isOptionable}}
        <a data-type="optional" data-tooltip="BABONUS.ConfigurationOptionalTooltip">
          {{#if bonus.isOptional}}<i class="fa-solid fa-circle-xmark"></i>
          {{else}}<i class="fa-regular fa-circle-xmark"></i>
          {{/if}}
        </a>
        {{/if}}
        {{#if bonus.canConsume}}
        <a data-type="consume" data-tooltip="BABONUS.ConfigurationConsumptionTooltip">
          {{#if bonus.isConsuming}}<i class="fa-solid fa-hand-sparkles"></i>
          {{else}}<i class="fa-regular fa-hand"></i>
          {{/if}}
        </a>
        {{/if}}
      </div>
      <div class="identifier">
        {{bonus.id}}
      </div>
    </div>
  </div>
  <div class="description">
    <div class="content">
      {{{bonus.description}}}
    </div>
  </div>
  <hr class="divider">
</div>
{{/each}}
