<div class="target-type">
  <div class="target-type-header">{{localize localeString}}</div>
  <i class="{{{type.icon}}}"></i> {{localize type.label}}
</div>
<div class="form-group">
  <label data-tooltip="BABONUS.TOOLTIPS.IDENTIFIERS" class="label">
    {{localize "BABONUS.LABELS.IDENTIFIERS"}}
  </label>
  <div class="form-fields">
    <span class="sep">{{localize "BABONUS.LABELS.NAME"}}</span>
    <input type="text" name="name" placeholder="{{localize 'BABONUS.PLACEHOLDERS.NAME'}}">
    <span class="sep">{{localize "BABONUS.LABELS.ID"}}</span>
    <input type="text" name="id" value="{{id}}" placeholder="{{localize 'BABONUS.PLACEHOLDERS.ID'}}" disabled>
  </div>
</div>
<div class="form-group">
  <label data-tooltip="BABONUS.TOOLTIPS.DESCRIPTION" class="label">
    {{localize "BABONUS.LABELS.DESCRIPTION"}}
  </label>
  <div class="form-fields">
    <textarea name="description"></textarea>
  </div>
</div>
