<div class="babonus-type">
  <div class="babonus-type-header">{{localize localeString}}</div>
  <i class="{{{type.icon}}}"></i> {{localize type.label}}
</div>
<div class="form-group">
  <label data-tooltip="BABONUS.IdentifiersTooltip" class="label">
    {{localize "BABONUS.Identifiers"}}
  </label>
  <div class="form-fields">
    <span class="sep">{{localize "BABONUS.Name"}}</span>
    <input type="text" name="name" placeholder="{{localize 'BABONUS.NamePlaceholder'}}">
    <span class="sep">{{localize "BABONUS.ID"}}</span>
    <input type="text" name="id" value="{{id}}" disabled>
  </div>
</div>
<div class="form-group">
  <label data-tooltip="BABONUS.DescriptionTooltip" class="label">
    {{localize "BABONUS.Description"}}
  </label>
  <div class="form-fields">
    <textarea name="description" placeholder="{{localize 'BABONUS.DescriptionPlaceholder'}}"></textarea>
  </div>
</div>
