<div class="form-group" data-id="{{id}}">
  <label class="label" data-tooltip="{{tooltip}}">{{localize label}}</label>
  <div class="form-fields">
    <div class="checkboxes">
      {{#each array}}
      <label for="{{../appId}}-{{../id}}-{{value}}" data-hide-input="true" data-tooltip="{{tooltip}}">
        <input type="checkbox" {{#if (eq ../id "itemTypes")}}data-action="item-type"{{/if}} name="{{concat 'filters.' ../id}}" value="{{value}}" id="{{../appId}}-{{../id}}-{{value}}" {{checked checked}}>
        <span class="check">{{{label}}}</span>
      </label>
      {{/each}}
    </div>
  </div>
  <a data-action="delete-filter" data-tooltip="BABONUS.DeleteThisFilter">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
