<!-- (spell components only) -->
<div class="form-group" data-id="{{id}}">
  <label class="label" data-tooltip="{{tooltip}}">{{localize label}}</label>
  <div class="form-fields">
    <div class="checkboxes">
      {{#each array}}
      <label for="{{../appId}}-{{value}}" data-hide-input="true" data-tooltip="{{tooltip}}">
        <input type="checkbox" name="filters.{{../id}}.types" value="{{value}}" id="{{../appId}}-{{value}}" {{checked checked}}>
        <span class="check">{{{label}}}</span>
      </label>
      {{/each}}
    </div>
    <select name="filters.{{id}}.match">
      {{selectOptions selectOptions selected=selected localize=true}}
    </select>
  </div>
  <a data-action="delete-filter" data-tooltip="BABONUS.DeleteThisFilter">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
