<!-- (spell components only) -->
<div class="form-group" data-id="{{id}}">
  <label class="label" data-tooltip="{{tooltip}}">{{localize label}}</label>
  <div class="form-fields">
    <div class="checkboxes">
      {{#each array as |type|}}
      <label class="sep" for="{{../appId}}-{{type.value}}" data-hide-input="true" data-tooltip="{{type.tooltip}}">
        <input type="checkbox" name="filters.{{../id}}.types" value="{{type.value}}" id="{{../appId}}-{{type.value}}" {{checked type.checked}}>
        <span class="check">{{{type.label}}}</span>
      </label>
      {{/each}}
    </div>
    <select name="filters.{{id}}.match">
      {{selectOptions selectOptions selected=../value nameAttr="value" labelAttr="label" localize=true}}
    </select>
  </div>
  <a data-action="delete-filter" data-tooltip="BABONUS.DeleteThisFilter">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
