<!--
  AURA RANGE: only if aura enabled.
-->
<div class="form-group">
  <label data-tooltip="{{{localize 'BABONUS.TITLES.AURA_RANGE'}}}" class="label">
    {{localize "BABONUS.LABELS.AURA_RANGE"}}
  </label>
  <div class="form-fields">
    <input type="number" name="aura.range" placeholder="{{localize 'BABONUS.VALUES.PH_RANGE'}}">
    {{#if canConfigureTemplate}}
    <span class="sep">{{localize "BABONUS.LABELS.AURA_TEMPLATE"}}</span>
    <input type="checkbox" data-tooltip="{{{localize 'BABONUS.TITLES.AURA_TEMPLATE'}}}" name="aura.isTemplate">
    {{/if}}
  </div>
</div>
