<!--
  AURA TARGETING: valid if aura enabled.
-->
<div class="form-group">
  <label data-tooltip="{{{localize 'BABONUS.TITLES.AURA_FIELDS'}}}" class="label">
    {{localize "BABONUS.LABELS.AURA_FIELDS"}}
  </label>
  <div class="form-fields">
    <select name="aura.disposition" data-dtype="Number">
      <option value="2">{{localize "BABONUS.VALUES.DISPOSITION.ANY"}}</option>
      <option value="1">{{localize "BABONUS.VALUES.DISPOSITION.ALLY"}}</option>
      <option value="-1">{{localize "BABONUS.VALUES.DISPOSITION.ENEMY"}}</option>
    </select>
    <span class="sep">{{localize "BABONUS.LABELS.AURA_SELF"}}</span>
    <input type="checkbox" name="aura.self">
  </div>
</div>
