<div class="form-group" data-id="{{name}}">
  <label data-tooltip="{{tooltip}}" class="label">
    {{localize label}}
  </label>
  <div class="form-fields">
    <input type="number" name="filters.{{name}}.min" placeholder="{{{localize 'Minimum'}}}">
    <span class="sep">&mdash;</span>
    <input type="number" name="filters.{{name}}.max" placeholder="{{{localize 'Maximum'}}}">
  </div>
  <a class="filter-deletion" data-tooltip="BABONUS.DeleteThisFilter">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
