<!--
  DAMAGE TYPES: only valid for 'attack', 'damage', 'save'.
  ABILITIES: only valid for 'attack', 'damage', 'save'.
  ATTACK TYPES: only valid for 'attack', 'damage'.
  SAVE ABILITIES: only valid for 'save'.
  THROW TYPES: only valid for 'throw'.
  ACTOR CONDITIONS: always.
  TARGET CONDITIONS: always.
  SPELL SCHOOLS: only if ITEM TYPES includes 'spell'.
  baseWeapons: only if ITEM TYPES includes 'weapon'.
-->
<div class="form-group" data-name="{{name}}">
  <label data-tooltip="{{{localize tooltip}}}" class="label">
    {{localize label}}
  </label>
  <div class="form-fields">
    <input type="text" name="filters.{{name}}">
    <button class="babonus-keys" type="button">
      <i class="fa-solid fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
    </button>
  </div>
  <a class="filter-deletion" data-tooltip="{{{localize 'BABONUS.TOOLTIPS.DELETE_THIS_FILTER'}}}">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
