<div class="form-group" data-name="{{name}}">
  <label data-tooltip="{{{localize tooltip}}}" class="label">
    {{localize label}}
  </label>
  <div class="form-fields">
    <input type="text" name="filters.{{name}}.needed">
    <input type="text" name="filters.{{name}}.unfit">
    <button class="babonus-keys" type="button">
      <i class="fa-solid fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
    </button>
  </div>
  <a class="filter-deletion" data-tooltip="{{{localize 'BABONUS.TOOLTIPS.DELETE_THIS_FILTER'}}}">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
