<!-- (arbitraryComparison only) -->
{{#each array as |a|}}
<div class="form-group" data-id="{{../id}}">
  <label class="label" data-tooltip="{{../tooltip}}">{{localize ../label}}</label>
  <div class="form-fields">
    <input type="text" name="filters.{{idx}}.{{../id}}.one" placeholder="{{localize ../placeholderOne}}" value="{{one}}">
    <select name="filters.{{idx}}.{{../id}}.operator" value="{{operator}}">
      {{#each selectOptions as |opt|}}<option value="{{value}}">{{{label}}}</option>{{/each}}
    </select>
    <input type="text" name="filters.{{idx}}.{{../id}}.other" placeholder="{{localize ../placeholderOther}}" value="{{other}}">
  </div>
  <a data-action="delete-filter" data-tooltip="BABONUS.DeleteThisFilter">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
{{/each}}
