<div class="dialog-content">
  <table>
    <thead>
      <tr>
        <th>{{localize "BABONUS.OverviewName"}}</th>
        <th>{{localize "BABONUS.OverviewImmediateParent"}}</th>
        <th>{{localize "BABONUS.OverviewActor"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each bonuses}}
      <tr>
        <td data-tooltip="{{description}}">{{name}}</td>
        <td>
          <a data-uuid="{{parent.uuid}}" data-tooltip="{{parent.uuid}}">
            {{ifThen parent.name parent.name (localize "Template")}}
          </a>
        </td>
        <td>
          <a data-uuid="{{actor.uuid}}" data-tooltip="{{actor.uuid}}">
            {{actor.name}}
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="dialog-buttons">
  <button class="dialog-button ok default" data-button="ok">
    <i class="fa-solid fa-check"></i> {{localize "Close"}}
  </button>
</div>
