<form class="dnd5e" autocomplete="off">

  <div class="form-group">
    <label data-tooltip="BABONUS.ConfigurationAuraRangeTooltip" class="label">
      {{localize "BABONUS.ConfigurationAuraRange"}}
    </label>
    <div class="form-fields">
      <input type="text" name="aura.range" value="{{source.aura.range}}" placeholder="{{localize 'BABONUS.ConfigurationAuraRangePlaceholder'}}" {{disabled disableRange}}>
      <span class="sep">({{displayedRange}})</span>
    </div>
  </div>

  <div class="form-group">
    <label data-tooltip="BABONUS.ConfigurationAuraTemplateTooltip" class="label">
      {{localize "BABONUS.ConfigurationAuraTemplate"}}
    </label>
    <div class="form-fields">
      <input type="checkbox" name="aura.template" {{disabled disableTemplate}} {{checked clone.aura.template}}>
    </div>
  </div>

  <div class="form-group">
    <label data-tooltip="BABONUS.ConfigurationAuraValidTargetsTooltip" class="label">
      {{localize "BABONUS.ConfigurationAuraValidTargets"}}
    </label>
    <div class="form-fields">
      <select name="aura.disposition">
        {{selectOptions choices selected=clone.aura.disposition localize=true}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label data-tooltip="BABONUS.ConfigurationAuraSelfTooltip" class="label">
      {{localize "BABONUS.ConfigurationAuraSelf"}}
    </label>
    <div class="form-fields">
      <input type="checkbox" name="aura.self" {{checked clone.aura.self}}>
    </div>
  </div>

  <div class="form-group" data-id="auraBlockers">
    <label data-tooltip="BABONUS.FiltersAuraBlockersTooltip" class="label">
      {{localize "BABONUS.FiltersAuraBlockers"}}
    </label>
    <div class="form-fields">
      <input type="text" name="aura.blockers" value="{{blockers}}">
      <button data-action="keys-dialog" type="button">
        <i class="fa-solid fa-key"></i> {{localize "BABONUS.Keys"}}
      </button>
    </div>
  </div>

  <div class="form-group">
    <label for="" data-tooltip="BABONUS.ConfigurationAuraRequireTooltip" class="label">
      {{localize "BABONUS.ConfigurationAuraRequire"}}
    </label>
    <div class="form-fields">
      <span class="sep" data-tooltip="BABONUS.ConfigurationAuraRequireSightTooltip">
        {{localize "BABONUS.ConfigurationAuraRequireSight"}}
      </span>
      <input type="checkbox" name="aura.require.sight" {{checked clone.aura.require.sight}} {{disabled disableRange}}>
      <span class="sep" data-tooltip="BABONUS.ConfigurationAuraRequireMoveTooltip">
        {{localize "BABONUS.ConfigurationAuraRequireMove"}}
      </span>
      <input type="checkbox" name="aura.require.move" {{checked clone.aura.require.move}} {{disabled disableRange}}>
    </div>
  </div>

  <button type="submit">
    <i class="fa-solid fa-save"></i> {{localize "Save"}}
  </button>

</form>
