<form class="dnd5e" autocomplete="off">

  <div class="form-group">
    <label data-tooltip="BABONUS.ConfigurationAuraRangeTooltip" class="label">
      {{localize "BABONUS.ConfigurationAuraRange"}}
    </label>
    <div class="form-fields">
      <input type="number" name="aura.range" value="{{aura.range}}" placeholder="{{localize 'BABONUS.ConfigurationAuraRangePlaceholder'}}" {{disabled templateChecked}}>
      <span class="sep">{{localize "BABONUS.ConfigurationAuraTemplate"}}</span>
      <input type="checkbox" name="aura.isTemplate" {{disabled templateDisabled}} {{checked templateChecked}}>
    </div>
  </div>

  <div class="form-group">
    <label data-tooltip="BABONUS.ConfigurationAuraValidTargetsTooltip" class="label">
      {{localize "BABONUS.ConfigurationAuraValidTargets"}}
    </label>
    <div class="form-fields">
      <select name="aura.disposition" data-dtype="Number">
        {{selectOptions choices selected=aura.disposition localize=true}}
      </select>
      <span class="sep">{{localize "BABONUS.ConfigurationAuraSelf"}}</span>
      <input type="checkbox" name="aura.self" {{checked aura.self}}>
    </div>
  </div>

  <div class="form-group" data-id="auraBlockers">
    <label data-tooltip="BABONUS.FiltersAuraBlockersTooltip" class="label">
      {{localize "BABONUS.FiltersAuraBlockers"}}
    </label>
    <div class="form-fields">
      <input type="text" name="aura.blockers" value="{{blockers}}" {{disabled templateChecked}}>
      <button data-action="keys-dialog" type="button" {{disabled templateChecked}}>
        <i class="fa-solid fa-key"></i> {{localize "BABONUS.Keys"}}
      </button>
    </div>
  </div>

  <button type="submit">
    <i class="fa-solid fa-save"></i> {{localize "Save"}}
  </button>

</form>
