<div class="tab babonus {{isActive}}" data-group="primary" data-tab="babonus">
  <h1 class="otters">
    <i class="{{{ICON}}} mirror" data-action="otter-rainbow"></i>
    <span class="name-stacked">
      <span class="title">{{localize "BABONUS.ModuleTitle"}}</span>
      <span class="subtitle">{{parentName}}</span>
    </span>
    <i class="{{{ICON}}}" data-action="otter-dance"></i>
  </h1>

  <dnd5e-effects class="inventory-element" v2>
    <item-list-controls for="babonus" label="{{localize 'BABONUS.SearchBonuses'}}" sort="toggle" group group-label="Group by Type" collection="babonus"></item-list-controls>

    <section class="items-list babonus-list" data-item-list="babonus">

      {{#each sections as |section|}}
      <div class="items-section card" data-type="{{section.key}}">

        <div class="items-header header">
          <h3 class="item-name">{{localize section.label}}</h3>
          <div class="item-header bonus-source">{{localize "DND5E.Source"}}</div>
          <div class="item-header item-controls"></div>
        </div>

        <ol class="item-list unlist">
          {{#each bonuses}}
          <li
            class="item"
            data-item-uuid="{{bonus.uuid}}"
            data-item-id="{{bonus.id}}"
            data-entry-id="{{bonus.id}}"
            data-parent-id="{{bonus.parent.id}}"
            data-item-name="{{bonus.name}}"
            data-item-sort="{{bonus.sort}}"
            data-grouped="{{bonus.type}}"
            data-ungrouped="all"
            draggable="true">
            <div class="item-name item-action item-tooltip rollable" role="button" aria-label="{{bonus.name}}" data-tooltip="{{tooltip}}" data-tooltip-class="dnd5e2 dnd5e-tooltip item-tooltip" data-tooltip-direction="LEFT" data-action="edit">
              <img class="item-image gold-icon" src="{{bonus.img}}" alt="{{bonus.name}}">
              <div class="name name-stacked">
                <span class="title">{{bonus.name}}</span>
                <span class="subtitle">{{{labels}}}</span>
              </div>
            </div>
            <div class="item-detail bonus-source {{#unless isEmbedded}}empty{{/unless}}">
              {{#if isEmbedded}}
              <a data-action="bonus-source" data-uuid="{{bonus.parent.uuid}}">{{bonus.parent.name}}</a>
              {{/if}}
            </div>
            <div class="item-detail item-controls">
              {{#if @root.isEdit}}
              <a class="item-control active" data-action="edit">
                <i class="fa-solid fa-edit"></i>
              </a>
              <a class="item-control active" data-action="delete">
                <i class="fa-solid fa-trash"></i>
              </a>
              {{else}}
              <a class="item-control {{#if bonus.enabled}}active{{/if}}" data-action="toggle">
                <i class="fa-solid fa-toggle-{{ifThen bonus.enabled 'on' 'off'}}"></i>
              </a>
              {{/if}}
              <a class="item-control active" data-action="contextMenu">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </a>
            </div>
          </li>
          {{/each}}
        </ol>

      </div>
      {{/each}}

    </section>

  </dnd5e-effects>
</div>
