<p class="babonus-key-description">
  {{{localize description}}}
</p>
<table class="babonus two-col">
  <thead>
    <tr>
      <th>{{localize "BABONUS.KEYS_DIALOG.VALUE"}}</th>
      <th><a class="select-all">{{localize "BABONUS.KEYS_DIALOG.INCLUDE"}}</a></th>
    </tr>
  </thead>
  <tbody>
    {{#each types as |type|}}
    <tr>
      <td>{{#if type.icon}}<img src="{{type.icon}}">{{/if}}{{type.label}}</td>
      <td><input type="checkbox" id="{{type.value}}" {{checked type.checked}}></td>
    </tr>
    {{/each}}
  </tbody>
</table>
