<div class="babonus-optionals">
  {{#each data as |bab|}}

  {{#unless consumes}}
  <div class="optional">
    <div class="bonus-text">
      <span class="name" data-tooltip="{{localize 'BABONUS.OriginName' name=origin}}">{{name}}.</span>
      <span class="description">{{{desc}}}</span>
    </div>
    <a class="add" data-bonus="{{bonus}}">
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>
  {{/unless}}

  {{#if consumes}}
  <div class="optional" data-min="{{min}}" data-uuid="{{uuid}}" data-type="{{type}}">
    <div class="bonus-text">
      <span class="name" data-tooltip="{{localize 'BABONUS.OriginName' name=origin}}">{{name}}.</span>
      <span class="description">{{{desc}}}</span>
    </div>
    <a class="add" data-bonus="{{bonus}}">
      <i class="fa-solid fa-plus"></i>
    </a>

    {{#if scales}}
    <div class="consumption">
      <label>{{localize "BABONUS.ConfigurationConsumptionConsume"}}</label>
      <select>{{{options}}}</select>
    </div>
    {{/if}}
  </div>
  {{/if}}

  {{/each}}
</div>
