<div class="babonus-optionals">
  {{#each data as |bab|}}
  <div class="optional{{#if scales}} scales{{/if}}{{#if consumes}} consumes{{/if}}" data-min="{{min}}"
    data-bonus="{{bonus}}" data-uuid="{{uuid}}" data-type="{{type}}">
    <div class="bonus-text">
      <span class="name" data-tooltip="{{localize 'BABONUS.OriginName' name=origin}}">{{name}}.</span>
      <span class="description">{{{desc}}}</span>
    </div>
    <button type="button" class="add"><i class="fa-solid fa-plus"></i></button>
    {{#if scales}}
    <div class="consumption">
      <label>{{localize "BABONUS.ConfigurationConsumptionConsume"}}</label>
      <select>{{{options}}}</select>
    </div>
    {{/if}}
  </div>
  {{/each}}
</div>
