<div class="babonus-optionals">
  {{#each data as |bab|}}

  {{#unless bab.consumes}}
  <div class="optional">
    <div class="bonus-text">
      <span class="name">{{bab.name}}.</span>
      <span class="description">{{{bab.desc}}}</span>
    </div>
    <a class="add" data-bonus="{{bab.bonus}}">
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>
  {{/unless}}

  {{#if bab.consumes}}
  <div class="optional" data-min="{{bab.min}}" data-uuid="{{bab.uuid}}" data-type="{{bab.type}}">
    <div class="bonus-text">
      <span class="name">{{bab.name}}.</span>
      <span class="description">{{{bab.desc}}}</span>
    </div>
    <a class="add" data-bonus="{{bab.bonus}}">
      <i class="fa-solid fa-plus"></i>
    </a>

    {{#if bab.scales}}
    <div class="consumption">
      <label>{{localize "BABONUS.ConfigurationConsumptionConsume"}}</label>
      <select>{{{bab.options}}}</select>
    </div>
    {{/if}}
  </div>
  {{/if}}

  {{/each}}
</div>
