<div class="babonus optionals">
  {{#each bonuses}}
  <div class="optional" data-bonus-uuid="{{babonus.uuid}}">

    <div class="bonus-text">
      <span class="name" data-tooltip="{{tooltip}}">{{babonus.name}}.</span>
      <span class="description">{{{description}}}</span>
    </div>

    {{#if babonus.consume.isScaling}}
    <div class="consumption">
      <label class="label">
        {{localize "BABONUS.ConfigurationConsumptionConsume"}}
      </label>
      <select>{{{options}}}</select>
    </div>
    {{/if}}

    <button type="button" data-action="{{action}}">
      <i class="fa-solid fa-plus"></i>
    </button>

  </div>
  {{/each}}
</div>
