<form class="babonus">
  <h1>
    <i class="{{{ICON}}}" style="color: {{otterColor}}"></i>
    {{localize "BABONUS.ModuleTitle"}}
    <i class="{{{ICON}}}"></i>
  </h1>

  <div class="components">

    <!-- LEFT SIDE -->
    <div class="left-side">

      <div class="select-type">
        <header class="select-type">
          {{localize "BABONUS.SelectType"}}
          <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.SelectTypeTooltip"></i>
        </header>
        <div class="types">
          {{#each TYPES as |type|}}
          <a data-type="{{type.value}}"><i class="{{type.icon}}"></i> {{localize type.label}}</a>
          {{/each}}
        </div>
      </div>

      <div class="inputs" style="display: none;">

        <div class="bonus-config">

          <div class="required-fields">
            <header class="required-fields">
              {{localize "BABONUS.RequiredFields"}}
              <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.RequiredFieldsTooltip"></i>
            </header>
            <div class="required"></div>
          </div>

          <div class="bonuses-inputs">
            <header class="bonuses-inputs">
              {{localize "BABONUS.Bonuses"}}
              <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.BonusesTooltip"></i>
            </header>
            <div class="bonuses"></div>
          </div>

          <div class="bonus-filters">
            <header class="bonus-filters">
              {{localize "BABONUS.CurrentFilters"}}
              <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.CurentFiltersTooltip"></i>
            </header>
            <div class="filters"></div>
          </div>
        </div>

        <div class="utils">
          <div class="notification warning" id="babonus-warning">{{{localize "BABONUS.NotificationInvalid"}}}</div>
          <div class="utils-buttons">
            <button data-type="save-button" type="submit">
              <i class="fa-solid fa-floppy-disk"></i> {{localize "BABONUS.SaveThisBonus"}}
            </button>
            <button data-type="cancel-button" type="button">
              <i class="fa-solid fa-ban"></i> {{localize "Cancel"}}
            </button>
          </div>
        </div>

      </div>

    </div>

    <!-- RIGHT SIDE -->
    <div class="right-side">

      <div class="current-bonuses">
        <header class="current-bonuses">
          {{localize "BABONUS.CurrentBonuses"}}
          <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.CurrentBonusesTooltip"></i>
        </header>
        <div class="bonuses">{{{bonuses}}}</div>
      </div>

      <div class="filter-picker" style="display: none;">
      </div>

    </div>
  </div>
</form>
