<form>

  <div class="header name-stacked">
    <img src="{{bonus.img}}" data-edit="img" alt="{{bonu.name}}">
    <input class="title" type="text" name="name" value="{{bonus.name}}" placeholder="{{localize 'Name'}}">
  </div>

  <nav class="tabs" data-group="main">
    <a class="item" data-tab="description">{{localize "BABONUS.SheetTabs.Description"}}</a>
    <a class="item" data-tab="bonuses">{{localize "BABONUS.SheetTabs.Bonuses"}}</a>
    <a class="item" data-tab="configuration">{{localize "BABONUS.SheetTabs.Configuration"}}</a>
    <a class="item" data-tab="filters">{{localize "BABONUS.SheetTabs.Filters"}}</a>
    <a class="item" data-tab="advanced">{{localize "BABONUS.SheetTabs.Advanced"}}</a>
  </nav>

  <div class="document-tabs">

    <!-- Description Tab -->
    <div class="tab" data-tab="description">
      <div class="description">
        <ol class="properties">
          <h4 class="header">{{localize "DND5E.Properties"}}</h4>
          {{#each context.labels}}
          <li class="property">{{this}}</li>
          {{/each}}
        </ol>
        {{editor context.description target="description" button=true engine="prosemirror" collaborate=false}}
      </div>
    </div>

    <!-- Bonuses Tab -->
    <div class="tab" data-tab="bonuses">

      <fieldset>
        <legend>{{localize "BABONUS.BasicBonuses"}}</legend>
        {{#each context.bonuses}}
        {{#if isDamage}}
        {{formGroup field value=value options=options blank=blank localize=true}}
        {{else}}
        {{formGroup field value=value localize=true}}
        {{/if}}
        {{/each}}
      </fieldset>

      {{#if context.hasModifiers}}
      <fieldset>
        <legend>{{localize "BABONUS.Modifiers"}}</legend>

        <div class="form-group">
          <label class="label" data-tooltip="BABONUS.ModifiersFirstTooltip">{{localize "BABONUS.ModifiersFirst"}}</label>
          <div class="form-fields">
            <input type="checkbox" name="bonuses.modifiers.config.first" {{checked context.modifiers.config.first}}>
          </div>
        </div>

        <div class="form-group modifiers">
          <label class="label">{{localize "BABONUS.ModifiersAmount"}}</label>
          <div class="form-fields">
            <label class="checkbox">
              <input type="checkbox" name="bonuses.modifiers.amount.enabled" {{checked context.modifiers.amount.enabled}}>
            </label>
            <input type="text" name="bonuses.modifiers.amount.value" value="{{context.modifiers.amount.value}}" {{disabled context.modifiers.amount.disabled}}>
            <select name="bonuses.modifiers.amount.mode" {{disabled context.modifiers.amount.disabled}}>
              {{selectOptions context.modifierOptions selected=bonus.bonuses.modifiers.amount.mode localize=true}}
            </select>
          </div>
        </div>

        <div class="form-group modifiers">
          <label class="label">{{localize "BABONUS.ModifiersSize"}}</label>
          <div class="form-fields">
            <label class="checkbox">
              <input type="checkbox" name="bonuses.modifiers.size.enabled" {{checked context.modifiers.size.enabled}}>
            </label>
            <input type="text" name="bonuses.modifiers.size.value" value="{{context.modifiers.size.value}}" {{disabled context.modifiers.size.disabled}}>
            <select name="bonuses.modifiers.size.mode" {{disabled context.modifiers.size.disabled}}>
              {{selectOptions context.modifierOptions selected=bonus.bonuses.modifiers.size.mode localize=true}}
            </select>
          </div>
        </div>

        <div class="form-group modifiers">
          <label class="label">{{localize "BABONUS.ModifiersReroll"}}</label>
          <div class="form-fields reroll">
            <label class="checkbox">
              <input type="checkbox" name="bonuses.modifiers.reroll.enabled" {{checked context.modifiers.reroll.enabled}}>
            </label>

            <input type="text" name="bonuses.modifiers.reroll.value" value="{{context.modifiers.reroll.value}}" {{disabled context.modifiers.reroll.disabled}}>

            <label class="checkbox">
              <input type="checkbox" name="bonuses.modifiers.reroll.invert" {{checked context.modifiers.reroll.invert}} {{disabled context.modifiers.reroll.disabled}}>
              {{localize "BABONUS.ModifiersRerollInvert"}}
            </label>

            <label class="checkbox long">
              <input type="checkbox" name="bonuses.modifiers.reroll.recursive" {{checked context.modifiers.reroll.recursive}} {{disabled context.modifiers.reroll.disabled}}>
              {{localize "BABONUS.ModifiersRerollRecursive"}}
            </label>

            {{#if context.modifiers.reroll.recursive}}
            <input type="text" name="bonuses.modifiers.reroll.limit" placeholder="{{localize 'BABONUS.ModifiersRerollLimit'}}" value="{{context.modifiers.reroll.limit}}" {{disabled context.modifiers.reroll.disabled}}>
            {{/if}}
          </div>
        </div>

        <div class="form-group modifiers">
          <label class="label">{{localize "BABONUS.ModifiersExplode"}}</label>
          <div class="form-fields explode">
            <label class="checkbox">
              <input type="checkbox" name="bonuses.modifiers.explode.enabled" {{checked context.modifiers.explode.enabled}}>
            </label>

            <input type="text" name="bonuses.modifiers.explode.value" value="{{context.modifiers.explode.value}}" {{disabled context.modifiers.explode.disabled}}>

            <label class="checkbox long">
              <input type="checkbox" name="bonuses.modifiers.explode.once" {{checked context.modifiers.explode.once}} {{disabled context.modifiers.explode.disabled}}>
              {{localize "BABONUS.ModifiersExplodeOnce"}}
            </label>

            {{#unless context.modifiers.explode.once}}
            <input type="text" name="bonuses.modifiers.explode.limit" placeholder="{{localize 'BABONUS.ModifiersExplodeLimit'}}" value="{{context.modifiers.explode.limit}}" {{disabled context.modifiers.explode.disabled}}>
            {{/unless}}
          </div>
        </div>

        <div class="form-group modifiers">
          <label class="label">{{localize "BABONUS.ModifiersMinimum"}}</label>
          <div class="form-fields">
            <label class="checkbox">
              <input type="checkbox" name="bonuses.modifiers.minimum.enabled" {{checked context.modifiers.minimum.enabled}}>
            </label>
            <input type="text" name="bonuses.modifiers.minimum.value" value="{{context.modifiers.minimum.value}}" {{disabled context.modifiers.minimum.disabled}}>
            <label class="checkbox long">
              <input type="checkbox" name="bonuses.modifiers.minimum.maximize" {{checked context.modifiers.minimum.maximize}} {{disabled context.modifiers.minimum.disabled}}>
              {{localize "BABONUS.ModifiersMinimumMaximize"}}
            </label>
          </div>
        </div>

        <div class="form-group modifiers">
          <label class="label">{{localize "BABONUS.ModifiersMaximum"}}</label>
          <div class="form-fields">
            <label class="checkbox">
              <input type="checkbox" name="bonuses.modifiers.maximum.enabled" {{checked context.modifiers.maximum.enabled}}>
            </label>
            <input type="text" name="bonuses.modifiers.maximum.value" value="{{context.modifiers.maximum.value}}" {{disabled context.modifiers.maximum.disabled}}>
            <label class="checkbox long">
              <input type="checkbox" name="bonuses.modifiers.maximum.zero" {{checked context.modifiers.maximum.zero}} {{disabled context.modifiers.maximum.disabled}}>
              {{localize "BABONUS.ModifiersMaximumZero"}}
            </label>
          </div>
        </div>

        <div class="form-group modifiers example">
          <label class="label">{{localize "BABONUS.Example"}}:</label>
          <div class="form-fields formula">{{context.modifiers.example}}</div>
        </div>
      </fieldset>
      {{/if}}

    </div>

    <!-- Active Filters Tab -->
    <div class="tab" data-tab="configuration">
      {{#unless context.filters}}
      <p class="notification info">{{localize "BABONUS.CurrentFiltersTooltip"}}</p>
      {{/unless}}
      {{{context.filters}}}
    </div>

    <!-- Filter Picker Tab -->
    <div class="tab" data-tab="filters">
      <p class="notification info">{{localize "BABONUS.AvailableFiltersTooltip"}}</p>
      {{#each context.filterpickers}}
      <div class="filter">
        <a class="filter-header" data-action="add-filter" data-id="{{id}}">
          {{localize label}} {{#if repeats}}({{repeats}}){{/if}}
          <i class="fa-solid fa-plus"></i>
        </a>
        <div class="filter-description">{{{localize hint}}}</div>
      </div>
      {{/each}}
    </div>

    <!-- Config Tab -->
    <div class="tab" data-tab="advanced">

      <fieldset>
        <legend>{{localize "BABONUS.Toggles"}}</legend>
        {{formGroup context.root.enabled.field value=context.root.enabled.value localize=true}}
        {{formGroup context.root.exclusive.field value=context.root.exclusive.value localize=true}}
        {{formGroup context.root.optional.field value=context.root.optional.value localize=true}}
        {{formGroup context.root.reminder.field value=context.root.reminder.value localize=true disabled=context.root.reminder.disabled}}
      </fieldset>

      <fieldset>
        <legend>{{localize "BABONUS.ConsumptionConfiguration"}}</legend>
        {{formGroup context.consume.enabled.field value=context.consume.enabled.value localize=true}}

        {{#if bonus.consume.enabled}}

        {{formGroup context.consume.type.field value=bonus.consume.type localize=true sort=true blank="-"}}

        {{#unless context.consume.scale.unavailable}}

        {{#if context.consume.subtype.show}}
        {{formGroup context.consume.subtype.field value=bonus.consume.subtype localize=true sort=false blank="-" choices=context.consume.subtype.choices label=context.consume.subtype.label}}
        {{/if}}

        {{#unless context.consume.scale.unavailable}}
        {{formGroup context.consume.scale.field localize=true value=bonus.consume.scales}}
        {{/unless}}

        <div class="form-group values">
          <label>
            {{localize context.consume.values.label}}
            {{{context.consume.values.range}}}
          </label>
          <div class="form-fields">
            {{formInput context.consume.values.field1 value=context.consume.source.value.min placeholder=context.consume.values.ph1}}
            {{#if bonus.consume.scales}}
            <span class="sep dash">&mdash;</span>
            {{formInput context.consume.values.field2 value=context.consume.source.value.max placeholder=context.consume.values.ph2}}
            {{/if}}
          </div>
          <p class="hint">{{localize context.consume.values.hint}}</p>
        </div>

        {{#if context.consume.step.show}}
        {{formGroup context.consume.step.field value=bonus.consume.value.step localize=true placeholder=context.consume.step.placeholder}}
        {{/if}}

        {{#if context.consume.formula.show}}
        {{formGroup context.consume.formula.field value=bonus.consume.formula localize=true placeholder=context.consume.formula.placeholder}}
        {{/if}}

        {{/unless}}

        {{/if}}

      </fieldset>

      <fieldset>
        <legend>{{localize "BABONUS.AuraConfiguration"}}</legend>
        {{formGroup context.aura.enabled.field value=context.aura.enabled.value localize=true}}

        {{#if bonus.aura.enabled}}
        {{formGroup context.aura.range.field value=context.aura.range.value localize=true placeholder=context.aura.range.placeholder disabled=context.aura.range.disabled label=context.aura.range.label}}
        {{formGroup context.aura.template.field value=context.aura.template.value localize=true}}
        {{formGroup context.aura.disposition.field value=context.aura.disposition.value localize=true sort=false}}
        {{formGroup context.aura.self.field value=context.aura.self.value localize=true}}

        {{formGroup context.aura.blockers.field value=context.aura.blockers.value localize=true}}

        {{#each context.aura.requirements}}
        {{formGroup field value=value localize=true}}
        {{/each}}
        {{/if}}
      </fieldset>

    </div>

  </div>
</form>
