<form class="babonus" autocomplete="off">
  <h1 class="otters">
    <i class="{{{ICON}}}" data-action="otter-rainbow" style="color: {{otterColor}}"></i>
    {{localize "BABONUS.ModuleTitle"}}
    <i class="{{{ICON}}}" data-action="otter-dance"></i>
  </h1>

  <div class="components">

    <!-- LEFT SIDE -->
    <div class="left-side">

      <section class="select-type page" {{#if activeBuilder}} style="display: none;" {{/if}}>
        <header>
          {{localize "BABONUS.SelectType"}}
          <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.SelectTypeTooltip"></i>
        </header>
        <div class="types">
          {{#each TYPES as |type|}}
          <a data-action="pick-type" data-type="{{type.value}}"><i class="{{type.icon}}"></i>{{localize type.label}}</a>
          {{/each}}
        </div>
      </section>

      <section class="inputs" {{#unless activeBuilder}} style="display: none;" {{/unless}}>

        <div class="bonus-config page">

          <header>
            {{localize "BABONUS.RequiredFields"}}
            <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.RequiredFieldsTooltip"></i>
          </header>
          <div class="bonus-required">

            <div class="babonus-type">
              <div class="babonus-type-header">{{localize builder.intro}}</div>
              <i class="{{{builder.type.icon}}}"></i> {{localize builder.type.label}}
            </div>
            <div class="form-group">
              <label class="label" data-tooltip="BABONUS.IdentifiersTooltip">
                {{localize "BABONUS.Identifiers"}}
              </label>
              <div class="form-fields">
                <span class="sep">{{localize "BABONUS.Name"}}</span>
                <input type="text" name="name" placeholder="{{localize 'BABONUS.NamePlaceholder'}}"
                  value="{{builder.name}}">
                <span class="sep">{{localize "BABONUS.ID"}}</span>
                <input type="text" name="id" value="{{builder.id}}" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="label" data-tooltip="BABONUS.DescriptionTooltip">{{localize
                "BABONUS.Description"}}</label>
              <div class="form-fields">
                <textarea name="description"
                  placeholder="{{localize 'BABONUS.DescriptionPlaceholder'}}">{{builder.description}}</textarea>
              </div>
            </div>

          </div>

          <header>
            {{localize "BABONUS.Bonuses"}}
            <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.BonusesTooltip"></i>
          </header>
          <div class="bonus-inputs">
            {{#each bonuses as |bonus|}}
            <div class="form-group">
              <label class="label" data-tooltip="{{bonus.TOOLTIP}}">{{localize bonus.LABEL}}</label>
              <div class="form-fields">
                <input type="text" name="{{bonus.NAME}}" value="{{bonus.value}}">
              </div>
            </div>
            {{/each}}
          </div>

          <header>
            {{localize "BABONUS.CurrentFilters"}}
            <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.CurrentFiltersTooltip"></i>
            <a data-action="section-collapse"><i class="fa-solid fa-chevron-down"></i></a>
          </header>
          <div class="bonus-filters">{{{_filters}}}</div>
        </div>

        <div class="utils">
          <div class="notification warning" data-action="dismiss-warning">
            {{{localize "BABONUS.NotificationInvalid"}}}
          </div>
          <div class="utils-buttons">
            <button data-action="save" type="submit">
              <i class="fa-solid fa-floppy-disk"></i> {{localize "BABONUS.SaveThisBonus"}}
            </button>
            <button data-action="cancel" type="button">
              <i class="fa-solid fa-ban"></i> {{localize "Cancel"}}
            </button>
          </div>
        </div>

      </section>

    </div>

    <!-- RIGHT SIDE -->
    <div class="right-side">

      <section class="current-bonuses page" {{#if activeBuilder}} style="display: none;" {{/if}}>
        <header>
          {{localize "BABONUS.CurrentBonuses"}}
          <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.CurrentBonusesTooltip"></i>
        </header>
        <div class="bonuses">

          {{#each currentBonuses as |bonus|}}
          <div class="bonus {{#if bonus._collapsed}}collapsed{{/if}}" data-id="{{bonus.id}}">
            <div class="header">
              <a class="label{{#unless bonus.enabled}} disabled{{/unless}}" data-action="current-collapse">
                {{bonus.name}}
              </a>
              <div class="details">
                <div class="functions">
                  <a data-action="current-toggle" data-tooltip="BABONUS.ConfigurationToggleTooltip">
                    <i class="fa-solid fa-toggle-{{#if bonus.enabled}}on{{else}}off{{/if}}"></i>
                  </a>
                  <a data-action="current-copy" data-tooltip="BABONUS.ConfigurationCopyTooltip">
                    <i class="fa-solid fa-copy"></i>
                  </a>
                  <a data-action="current-edit" data-tooltip="BABONUS.ConfigurationEditTooltip">
                    <i class="fa-solid fa-gear"></i>
                  </a>
                  <a data-action="current-delete" data-tooltip="BABONUS.ConfigurationDeleteTooltip">
                    <i class="fa-solid fa-trash"></i>
                  </a>
                  <a data-action="current-aura" data-tooltip="BABONUS.ConfigurationAuraTooltip">
                    <i class="fa-{{#if (or bonus.hasAura bonus.isTemplateAura)}}solid{{else}}regular{{/if}} fa-sun"></i>
                  </a>
                  {{#if bonus.canExclude}}
                  <a data-action="current-itemOnly" data-tooltip="BABONUS.ConfigurationExclusiveTooltip">
                    <i class="fa-{{#if bonus.isExclusive}}solid{{else}}regular{{/if}} fa-chess-pawn"></i>
                  </a>
                  {{else}}
                  <a class="unavailable" data-tooltip="BABONUS.ConfigurationExclusiveTooltipUnavailable">
                    <i class="fa-regular fa-chess-pawn"></i>
                  </a>
                  {{/if}}
                  {{#if bonus.isOptionable}}
                  <a data-action="current-optional" data-tooltip="BABONUS.ConfigurationOptionalTooltip">
                    <i class="fa-{{#if bonus.isOptional}}solid{{else}}regular{{/if}} fa-circle-xmark"></i>
                  </a>
                  {{else}}
                  <a class="unavailable" data-tooltip="BABONUS.ConfigurationOptionalTooltipUnavailable">
                    <i class="fa-regular fa-circle-xmark"></i>
                  </a>
                  {{/if}}
                  {{#if bonus.canConsume}}
                  <a data-action="current-consume" data-tooltip="BABONUS.ConfigurationConsumptionTooltip">
                    <i class="fa-{{#if bonus.isConsuming}}solid fa-hand-sparkles{{else}}regular fa-hand{{/if}}"></i>
                  </a>
                  {{else}}
                  <a class="unavailable" data-tooltip="BABONUS.ConfigurationConsumptionTooltipUnavailable">
                    <i class="fa-regular fa-hand"></i>
                  </a>
                  {{/if}}
                </div>
                <a data-action="current-id">{{bonus.id}}</a>
              </div>
            </div>
            <div class="description">
              <div class="content">
                {{{bonus._description}}}
              </div>
            </div>
            <hr class="divider">
          </div>
          {{/each}}

        </div>
      </section>

      <section class="filter-picker page" {{#unless activeBuilder}} style="display: none;" {{/unless}}>

        <header>
          {{localize "BABONUS.AvailableFilters"}}
          <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.AvailableFiltersTooltip"></i>
          <a data-action="section-collapse"><i class="fa-solid fa-chevron-down"></i></a>
        </header>
        <div class="available-filters">
          {{#each filters as |filter|}}
          <div class="filter {{#unless filter.available}}hidden{{/unless}}" data-id="{{filter.id}}">
            <h1 class="filter-header">
              <a data-action="add-filter">{{filter.header}}</a>
            </h1>
            <div class="filter-description">{{{localize filter.description}}}</div>
            <a data-action="add-filter" data-tooltip="BABONUS.AddThisFilter">
              <i class="fa-solid fa-plus"></i>
            </a>
          </div>
          {{/each}}
        </div>

        <header>
          {{localize "BABONUS.UnavailableFilters"}}
          <i class="fa-solid fa-circle-question" data-tooltip="BABONUS.UnavailableFiltersTooltip"></i>
          <a data-action="section-collapse"><i class="fa-solid fa-chevron-down"></i></a>
        </header>
        <div class="unavailable-filters">
          {{#each filters as |filter|}}
          <div class="filter {{#if filter.available}}hidden{{/if}}" data-id="{{filter.id}}">
            <h1 class="filter-header">{{filter.header}}</h1>
            <div class="filter-description">{{{localize filter.description}}}</div>
            <div class="filter-requirements">{{{localize filter.requirements}}}</div>
          </div>
          {{/each}}
        </div>

      </section>

    </div>
  </div>
</form>
