<form class="babonus">
  <h1>{{localize "BABONUS.HEADERS.BUILD_A_BONUS"}}</h1>

  <div class="components">

    <!-- LEFT SIDE -->
    <div class="left-side">

      <div class="select-target">
        <header class="select-target">{{localize "BABONUS.HEADERS.SELECT_TARGET"}}</header>
        <div class="targets">
          {{#each TYPES as |type|}}
          <a data-type="{{type.value}}"><i class="{{type.icon}}"></i> {{localize type.label}}</a>
          {{/each}}
        </div>
      </div>

      <div class="inputs" style="display: none;">

        <div class="bonus-config">

          <div class="required-fields">
            <header class="required-fields">{{localize "BABONUS.HEADERS.REQUIRED_FIELDS"}}</header>
            <div class="required"></div>
          </div>

          <div class="bonuses-inputs">
            <header class="bonuses-inputs">{{localize "BABONUS.HEADERS.BONUSES_INPUTS"}}</header>
            <div class="bonuses"></div>
          </div>

          <div class="aura-config">
            <header class="aura-config">
              <div class="content">{{localize "BABONUS.HEADERS.AURA"}}</div>
              <input type="checkbox" data-tooltip="{{{localize 'BABONUS.TOOLTIPS.AURA'}}}" name="aura.enabled">
            </header>
            <div class="aura"></div>
          </div>

          <div class="bonus-filters">
            <header class="bonus-filters">{{localize "BABONUS.HEADERS.FILTERS"}}</header>
            <div class="filters"></div>
          </div>
        </div>

        <div class="utils">
          <div class="notification warning" id="babonus-warning"></div>
          <div class="utils-buttons">
            <button data-type="save-button" type="submit">
              <i class="fa-solid fa-floppy-disk"></i> {{localize "BABONUS.BUTTONS.SAVE"}}
            </button>
            <button data-type="cancel-button" type="button">
              <i class="fa-solid fa-ban"></i> {{localize "Cancel"}}
            </button>
          </div>
        </div>

      </div>

    </div>

    <!-- RIGHT SIDE -->
    <div class="right-side">

      <div class="current-bonuses">
        <header class="current-bonuses">{{localize "BABONUS.HEADERS.CURRENT_BONUSES"}}</header>
        <div class="bonuses">{{{bonuses}}}</div>
      </div>

      <div class="filter-picker" style="display: none;">
      </div>

    </div>
  </div>
</form>
