<p class="babonus-key-description">
  {{localize "BABONUS.KEY.ATTACK_TYPES_DESC"}}
</p>
<table class="babonus two-col">
  <thead>
    <tr>
      <th>{{localize "BABONUS.KEY.ATTACK_TYPES_NAME"}}</th>
      <th>{{localize "BABONUS.KEY.ATTACK_TYPES_BOX"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each types as |type|}}
    <tr>
      <td>{{type.label}}</td>
      <td><input type="checkbox" id="{{type.value}}" {{checked type.checked}}></td>
    </tr>
    {{/each}}
  </tbody>
</table>
