<div class="tab scrollable {{tabs.bonuses.cssClass}}" data-tab="bonuses" data-group="main">

  <fieldset>
    <legend>{{localize "BABONUS.BasicBonuses"}}</legend>
    {{#each bonuses}}
    {{#if isDamage}}
    {{formGroup field value=value options=options}}
    {{else}}
    {{formGroup field value=value}}
    {{/if}}
    {{/each}}
  </fieldset>

  {{#if hasModifiers}}
  <fieldset>
    <legend>{{localize "BABONUS.MODIFIERS.FIELDS.config.label"}}</legend>
    {{#with modifiers.config.first}}
    {{formGroup field value=value rootId=@root.rootId}}
    {{/with}}

    {{#with modifiers.enabled}}
    {{formGroup field value=value options=choices name="bonuses.modifiers.config.enabled" type="checkboxes" classes="stacked"}}
    {{/with}}

  </fieldset>

  <div class="form-group modifiers example">
    <label>{{localize "BABONUS.Example"}}:</label>
    <div class="form-fields formula">{{modifiers.config.example}}</div>
  </div>
  {{/if}}

  <!-- Amount -->
  {{#if modifiers.amount.enabled}}
  {{#with modifiers.amount}}
  <fieldset>
    <legend>{{localize "BABONUS.MODIFIERS.FIELDS.amount.label"}}</legend>
    {{formGroup value.field value=value.value placeholder=value.field.label}}
    {{formGroup mode.field value=mode.value}}
  </fieldset>
  {{/with}}
  {{/if}}

  <!-- Size -->
  {{#if modifiers.size.enabled}}
  {{#with modifiers.size}}
  <fieldset>
    <legend>{{localize "BABONUS.MODIFIERS.FIELDS.size.label"}}</legend>
    {{formGroup value.field value=value.value placeholder=value.field.label}}
    {{formGroup mode.field value=mode.value}}
  </fieldset>
  {{/with}}
  {{/if}}

  <!-- Reroll -->
  {{#if modifiers.reroll.enabled}}
  {{#with modifiers.reroll}}
  <fieldset>
    <legend>{{localize "BABONUS.MODIFIERS.FIELDS.reroll.label"}}</legend>
    {{formGroup value.field value=value.value placeholder=value.field.label}}
    {{formGroup invert.field value=invert.value rootId=@root.rootId}}
    {{formGroup recursive.field value=recursive.value rootId=@root.rootId}}
    {{#if recursive.value}}
    {{formGroup limit.field value=limit.value placeholder=limit.field.label}}
    {{/if}}
  </fieldset>
  {{/with}}
  {{/if}}

  <!-- Explode -->
  {{#if modifiers.explode.enabled}}
  {{#with modifiers.explode}}
  <fieldset>
    <legend>{{localize "BABONUS.MODIFIERS.FIELDS.explode.label"}}</legend>
    {{formGroup value.field value=value.value placeholder=value.field.label}}
    {{formGroup once.field value=once.value rootId=@root.rootId}}
    {{#unless once.value}}
    {{formGroup limit.field value=limit.value placeholder=limit.field.label}}
    {{/unless}}
  </fieldset>
  {{/with}}
  {{/if}}

  <!-- Minimum -->
  {{#if modifiers.minimum.enabled}}
  {{#with modifiers.minimum}}
  <fieldset>
    <legend>{{localize "BABONUS.MODIFIERS.FIELDS.minimum.label"}}</legend>
    {{formGroup maximize.field value=maximize.value rootId=@root.rootId}}
    {{#unless maximize.value}}
    {{formGroup value.field value=value.value placeholder=value.field.label}}
    {{/unless}}
  </fieldset>
  {{/with}}
  {{/if}}

  <!-- Maximum -->
  {{#if modifiers.maximum.enabled}}
  {{#with modifiers.maximum}}
  <fieldset>
    <legend>{{localize "BABONUS.MODIFIERS.FIELDS.maximum.label"}}</legend>
    {{formGroup value.field value=value.value placeholder=value.field.label}}
    {{formGroup zero.field value=zero.value rootId=@root.rootId}}
  </fieldset>
  {{/with}}
  {{/if}}

</div>
