<nav class="sheet-tabs tabs">
  <a class="item {{context.tab.description}}" data-action="tab" data-tab="description" data-group="main">{{localize "BABONUS.SheetTabs.Description"}}</a>
  <a class="item {{context.tab.bonuses}}" data-action="tab" data-tab="bonuses" data-group="main">{{localize "BABONUS.SheetTabs.Bonuses"}}</a>
  <a class="item {{context.tab.configuration}}" data-action="tab" data-tab="configuration" data-group="main">{{localize "BABONUS.SheetTabs.Configuration"}}</a>
  <a class="item {{context.tab.filters}}" data-action="tab" data-tab="filters" data-group="main">{{localize "BABONUS.SheetTabs.Filters"}}</a>
  <a class="item {{context.tab.advanced}}" data-action="tab" data-tab="advanced" data-group="main">{{localize "BABONUS.SheetTabs.Advanced"}}</a>
</nav>
