<div class="form-group">
  <label class="label" data-tooltip="{{tooltip}}">{{localize label}}</label>
  <div class="form-fields">
    <select name="filters.{{id}}.type">
      {{selectOptions options selected=selected labelAttr="label" blank="-"}}
    </select>
    {{#if hasSubtype}}
    <select name="filters.{{id}}.subtype">
      {{selectOptions subOptions selected=subselected localize=true blank="-"}}
    </select>
    {{/if}}
  </div>
  <a data-action="delete-filter" data-id="{{id}}">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
