<div class="form-group">
  <label class="label" data-tooltip="{{tooltip}}">{{localize label}}</label>
  <div class="form-fields">
    <input type="range" name="filters.{{id}}.value" value="{{value}}" min="0" max="100" step="1">
    <span class="range-value percentage">{{value}}</span>
    <select name="filters.{{id}}.type" data-dtype="Number">
      {{selectOptions options selected=selected localize=true}}
    </select>
  </div>
  <a data-action="delete-filter" data-id="{{id}}">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
