<div class="form-group">
  <label class="label" data-tooltip="{{tooltip}}">{{localize label}}</label>
  <div class="form-fields">
    <input type="number" name="filters.{{id}}.min" placeholder="{{{localize 'Minimum'}}}" value="{{min}}">
    <span class="sep">&mdash;</span>
    <input type="number" name="filters.{{id}}.max" placeholder="{{{localize 'Maximum'}}}" value="{{max}}">
  </div>
  <a data-action="delete-filter" data-id="{{id}}">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
