<!-- (arbitraryComparison only) -->
{{#each this}}
<div class="form-group">
  <label class="label" data-tooltip="{{tooltip}}">{{localize label}}</label>
  <div class="form-fields">
    <input type="text" name="filters.{{id}}.{{idx}}.one" placeholder="{{localize placeholderOne}}" value="{{one}}">
    <select name="filters.{{id}}.{{idx}}.operator">
      {{selectOptions options selected=operator}}
    </select>
    <input type="text" name="filters.{{id}}.{{idx}}.other" placeholder="{{localize placeholderOther}}" value="{{other}}">
  </div>
  <a data-action="delete-filter" data-id="{{id}}" data-idx="{{idx}}">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
{{/each}}
