<div class="form-group" data-id="{{id}}">
  <label class="label" data-tooltip="{{tooltip}}">{{localize label}}</label>
  <div class="form-fields">
    <textarea name="filters.{{id}}">{{value}}</textarea>
  </div>
  <a data-action="delete-filter" data-tooltip="BABONUS.DeleteThisFilter">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
